<a class="relative group inline-block 2xl:font-bold 2xl:text-xl lg:text-lg lg:font-semibold leading-tight tracking-2  active:opacity-70 uppercase transition-all hover:opacity-75" [routerLink]="route()">
  <div class="lg:block group absolute left-0 transition duration-500 ease-in-out w-full md:-mt-46 xl:-mt-55 bottom-[-12px] xl:bottom-[-12px]"></div>
  <div [ngStyle]="{
          color: '#FFE4B5',
          textShadow: '0 0 7px #FFB732,0 0 10px #FFB732,0 0 21px #FFB732,0 0 42px #FFB732,0 0 82px #FFB732,0 0 92px #FFB732,0 0 102px #FFB732,0 0 151px #FFB732'
  }">{{ title() }}</div>
</a>
