<section class="flex items-center justify-center mt-32" [ngStyle]="{
          color: '#FFE4B5',
          textShadow: '#FC0 0px 0 15px'
  }">
  <div class="p-10 backdrop-blur-xl m-10">
    <div class="text-slate-400 text-lg">30.12.2024</div>
    <h2 class="text-5xl mb-10">Голосование открыто!</h2>
    <p class="text-xl mb-10">
      Мы делали-делали, и наконец доделали! Пацюк работал непокладая хвост чтобы найти достойные ДжиПеги
    </p>

    <p class="text-xl mb-10">
      Сегодня каждая сосиска из чата может авторизоваться и начать голосовать! Всего мы насобирали аж 29 номинаций в этом году
      (ни разу не потому что в The game awards тоже было 29 номинаций, это чистое совпадение. ПРАВДА!). <br/>
      Короче голосуйте, сосиски! <br/>
      <a href="" class="text-cyan-500 underline" routerLink="/nominees">Перейти к голосованию</a>
    </p>

    <p class="text-xl mb-10">
      Дата проведения церемонии будет обьявлена позже.
    </p>
  </div>
</section>

<section class="flex items-center justify-center mt-8" [ngStyle]="{
          color: '#FFE4B5',
          textShadow: '#FC0 0px 0 15px'
  }">
  <div class="p-10 backdrop-blur-xl m-10">
    <div class="text-slate-400 text-lg">27.12.2024</div>
    <h2 class="text-5xl mb-10">Welcome to Sosiska Awards!</h2>
    <p class="text-xl mb-10">
      Мы запустили сайт sosiska-awards! Этот год был полон взлетов и падений. И мы хотим запечатлись все лучшее и худшее по версии SOSISKA!
    </p>

    <p class="text-xl mb-10">
      Начиная с этого года, мы будем проводить торжественную церемонию номинации Сосиска года, а также ряд других номинаций.
      Вскоре мы наполним сайт номинациями и кандидатами, и вы сможете начать голосование.
    </p>

    <p class="text-xl mb-10">
      Дата открытия голосования а также дата проведения церемонии будут обьявлены позже.
    </p>

    <p class="text-xl">
      P.S. Заранее приносим извенения за возможные технические трудности. Проэкт будет развиватсья и становиться лучше
    </p>
  </div>
</section>

